[data-view] {
  display: none;
  position: absolute;
  inset: 0;
}

#screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
}

.ok { color: #00ff5f !important; }
.service { color: white !important; }
.desc { color: #888 !important; }